<div class="notification-container">
  <div class="title">
    <span>Notifications</span>
  </div>
  <ng-container *ngIf="notifications.length > 0">
      @for (notification of notifications; track notification.title) {
      <div class="notification">
        <div class="notification-header">
          <h3 class="notification-title">{{notification.title}}</h3>
        </div>
        <div class="notification-body">
          <p class="notification-message">{{notification.body}}</p>
        </div>
      </div>
      }
  </ng-container>
</div>

<router-outlet></router-outlet>
